//! Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$xldesktop: 3840px;

//! colores
$blanco: #FFFCF2;
$negro: #252422;
$naranja: #F8864F;
$separadosBlog: #F8864F;
$tagColor: #898989;

//! Fuente
$fuentePrinciapl: "Outfit", sans-serif;
$fuenteBlog:"Roboto", sans-serif;