//! Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$xldesktop: 3840px;

//! colores
$blanco: #FFFCF2;
$negro: #252422;
$naranja: #EB5E28;
$azulclaro: #6FB1FC;

//! Fuente
$fuentePrinciapl: "Outfit", sans-serif;