@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedorMain {
    width: 100%;
    background-color: v.$negro;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid v.$naranja;
}

@media (min-width: 320px) and (max-width: 768px) {
    .contenedorMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5rem;       
    }
}

.contenedorTitulo {
    width: 50%;
    color: v.$blanco;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .subtitulo {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;

        .barra {
            width: 15rem;
            height: 0.3rem;
            background-color: v.$blanco;
            margin-left: -21.5rem;
            margin-right: 3rem;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                        0 0 20px rgba(255, 255, 255, 0.6),
                        0 0 30px rgba(255, 255, 255, 0.4);
        }

        p {
            font-family: v.$fuentePrinciapl;
            font-size: 3rem;
            font-weight: 200;
        }
    }

    .tituloP {
        font-family: v.$fuentePrinciapl;
        font-size: 8rem;
        font-weight: 100;
        margin-bottom: 7rem;
    }

    .subtitulo,
    .tituloP {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                     0 0 20px rgba(255, 255, 255, 0.6),
                     0 0 30px rgba(255, 255, 255, 0.4);
        transition: 0.3s ease-in-out;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .contenedorTitulo {
        justify-content: center;
        align-items: center;
        height: 100vh;

        .tituloP {
            font-size: 6rem;
            line-height: 7rem;
            text-align: center;
            margin-bottom: 3rem;
        }

        .subtitulo {
            flex-direction: column;

            .barra {
                margin: 0 auto;
                margin-bottom: 2rem;
            }

            p {
                line-height: 5rem;
                text-align: center;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contenedorTitulo {
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;

        .tituloP {
            font-size: 6rem;
            line-height: 7rem;
            text-align: center;
        }

        .subtitulo {
            flex-direction: column;

            .barra {
                margin: 0 auto;
                margin-bottom: 2rem;
            }

            p {
                line-height: 5rem;
                text-align: center;
            }
        }
    }
}

@media (min-width: 1100px) and (max-width: 1370px) {
    .contenedorTitulo {
        justify-content: center;
        align-items: center;

        .subtitulo {
            flex-direction: column;

            .barra {
                margin: 0 auto;
                margin-bottom: 4rem;
            }
        }

        .tituloP {
            font-size: 5.5rem;
        }
    }
}

.contenedorTituloImagenes {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7rem;
    margin: 8rem 0 2rem;

    .contenedoresImg {
        width: 20rem;
        height: 65rem;
        border: 1px solid v.$naranja;
        margin-bottom: 7.5rem;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: opacity 0.3s ease-in-out;
            z-index: 10;
        }

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in-out;
            position: relative;
            z-index: 0;

            &:hover {
                transform: scale(1.05);
            }
        }

        &:hover::before {
            opacity: 0;
        }
    }
}

@media (min-width: 390px) and (max-width: 768px) {
    .contenedorTituloImagenes {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contenedorTituloImagenes {
        display: none;
    }
}

@media (min-width: 1100px) and (max-width: 1370px) {
    .contenedorTituloImagenes {
        width: 50%;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: -4rem;

        .contenedoresImg {
            width: 12rem;
            height: 50rem;
        }
    }
}
