@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-principal {
    min-height: 100vh;
    overflow: auto;
}

.contenedorMain {
    width: 100%;
    background-color: v.$negro;
    display: flex;
    flex-direction: row;
}

@media (min-width: 390px) and (max-width: 768px) {
    .contenedorMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5rem;       
    }
}

.contenedorTitulo {
    width: 50%;
   
    color: v.$blanco;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .subtitulo {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;

        .barra {
            width: 15rem;
            height: 0.3rem;
            background-color: v.$blanco;
            margin-left: -21.5rem;
            margin-right: 3rem;

            box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), /* Primer nivel de brillo */
                        0 0 20px rgba(255, 255, 255, 0.6), /* Segundo nivel de brillo */
                        0 0 30px rgba(255, 255, 255, 0.4);

        }

        p {
            font-family: v.$fuentePrinciapl;
            font-size: 3rem;
            font-weight: 200;
        }
    }

    .tituloP {
        font-family: v.$fuentePrinciapl;
        font-size: 8rem;
        font-weight: 100;
        margin-bottom: 7rem;
        
        
    }

    .subtitulo,
    .tituloP{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), /* Primer nivel de brillo */
                     0 0 20px rgba(255, 255, 255, 0.6), /* Segundo nivel de brillo */
                     0 0 30px rgba(255, 255, 255, 0.4); /* Tercer nivel de brillo */
        transition: 0.3s ease-in-out;
    }
}

@media (min-width: 390px) and (max-width: 768px) {
  .contenedorTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
    
    .tituloP{
        font-size: 6rem;
        line-height: 7rem;
        margin-top: -45rem;
    }
    
    .subtitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .barra{
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        p{
            line-height: 5rem;
            text-align: center;
        }
    }
    
  }
}

@media (min-width: 834px) and (max-width: 1024px) {
    .contenedorTitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    
    
    .tituloP{
        font-size: 6rem;
        line-height: 7rem;
        margin-top: -45rem;
    }
    
    .subtitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .barra{
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        p{
            line-height: 5rem;
            text-align: center;
        }
    }
    
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .tituloP{
    font-size: 6rem;
    line-height: 10rem;
  }
}




.contenedorTituloImagenes {
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7rem;
    margin-top: 9rem;
    margin-bottom: 15rem;

    .contenedoresImg {
        width: 20rem;
        height: 65rem;
        border: 1px solid v.$naranja;
        margin-bottom: 7.5rem;
        position: relative; /* Necesario para posicionar el pseudo-elemento correctamente */
        overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Capa oscura */
            transition: opacity 0.3s ease-in-out; /* Transición suave para la opacidad */
            z-index: 10; /* Coloca la capa oscura por encima de la imagen */
        }

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in-out; /* Añade una transición suave para el zoom */
            position: relative; /* Necesario para mantener la imagen debajo del pseudo-elemento */
            z-index: 0; /* Coloca la imagen debajo del pseudo-elemento */

            &:hover {
                transform: scale(1.05); /* Aplica una escala del 105% al hacer hover */
            }
        }

        &:hover::before {
            opacity: 0; /* La capa oscura desaparece al hacer hover */
        }
    }
}

@media (min-width: 390px) and (max-width: 768px) {
  .contenedorTituloImagenes{
    display: none;
  }
}

@media (min-width: 834px) and (max-width: 1024px) {
    .contenedorTituloImagenes{
        display: none;
      }
}