@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedorMainContenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; // Cambiado de height a min-height
    background-color: v.$negro;
    overflow: auto; // Asegura que el contenido se pueda desplazar
    border-bottom: 1px solid v.$naranja;
}

.contenidoContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    min-height: 100vh; // Cambiado de height a min-height
    background-color: v.$negro;
    margin: 0 auto;
    overflow: auto; // Asegura que el contenido se pueda desplazar
}

.contenidoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: v.$blanco;

    p {
        font-family: v.$fuentePrinciapl;
        font-size: 8rem;
        font-weight: 200;
        text-align: center;
        margin-right: 25rem;
    }
}

.separadorVertical {
    width: 0.3rem;
    height: 75rem;
    background-color: v.$blanco;
}

.cuadro {
    width: 45rem;
    height: 10rem;
    background-color: #F8864F;
    background: -moz-linear-gradient(-45deg, rgba(248,134,79,1) 0%, rgba(247,79,79,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,134,79,1)), color-stop(100%, rgba(247,79,79,1)));
    background: -webkit-linear-gradient(-45deg, rgba(248,134,79,1) 0%, rgba(247,79,79,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248,134,79,1) 0%, rgba(247,79,79,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248,134,79,1) 0%, rgba(247,79,79,1) 100%);
    background: linear-gradient(135deg, rgba(248,134,79,1) 0%, rgba(247,79,79,1) 100%);
    margin-left: 25rem;
    margin-bottom: 5rem;
    display: flex; // Añadido para que justify-content y align-items funcionen
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;

    &:hover {
        box-shadow: 0 0 10px rgba(235, 94, 40, 0.8), 
                    0 0 20px rgba(235, 94, 40, 0.6), 
                    0 0 30px rgba(235, 94, 40, 0.4);
        transition: 0.3s;
    }

    a {
        font-family: v.$fuentePrinciapl;
        font-size: 4.2rem;
        font-weight: 100;
        color: v.$negro;
        padding: 2rem;
        text-align: center;

        &:hover {
            transform: scale(1.1);
            font-weight: 200;
            transition: 0.3s;
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .contenidoContenedor {
        flex-direction: column;
        width: 100%;
    }

    .contenidoTexto {
        p {
            font-size: 6rem;
            text-align: center;
            margin: 0 auto;
        }
    }

    .separadorVertical {
        display: none;
    }

    .contenidoCuadros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 2rem; // Añadido padding-bottom para espacio adicional

        .cuadro {
            width: 90%;
            height: 7rem;
            margin: 0 auto;
            margin-bottom: 3rem;

            p {
                font-size: 4rem;
            }

            a{
                font-size: 3.5rem;
            }
        }
    }

    
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contenidoContenedor {
        flex-direction: column;
        width: 100%;
    }

    .contenidoTexto {
        p {
            font-size: 6rem;
            text-align: center;
            margin: 0 auto;
        }
    }

    .separadorVertical {
        display: none;
    }

    .contenidoCuadros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 2rem; // Añadido padding-bottom para espacio adicional

        .cuadro {
            width: 90%;
            height: 7rem;
            margin: 0 auto;
            margin-bottom: 3rem;

            p {
                font-size: 4rem;
            }
        }
    }
}

@media (min-width: 1100px) and (max-width: 1370px) {
    .contenidoContenedor {
        flex-direction: column;
        width: 100%;
    }

    .contenidoTexto {
        p {
            font-size: 6rem;
            text-align: center;
            margin: 0 auto;
        }
    }

    .separadorVertical {
        display: none;
    }

    .contenidoCuadros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 2rem; // Añadido padding-bottom para espacio adicional

        .cuadro {
            width: 90%;
            height: 7rem;
            margin: 0 auto;
            margin-bottom: 3rem;

            p {
                font-size: 4rem;
            }
        }
    }
}