@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedorMainContenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /* Cambiado de height a min-height */
    background-color: v.$negro;
    overflow: auto; /* Asegura que el contenido se pueda desplazar */
}

.contenidoContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    min-height: 100vh; /* Cambiado de height a min-height */
    background-color: v.$negro;
    margin: 0 auto;
}

.contenidoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: v.$blanco;

    p {
        font-family: v.$fuentePrinciapl;
        font-size: 8rem;
        font-weight: 200;
        text-align: center;
        margin-right: 25rem;
    }
}

.separadorVertical {
    width: 0.3rem;
    height: 75rem;
    background-color: v.$blanco;
    margin-bottom: 8rem;    
}

.cuadro {
    width: 45rem;
    height: 10rem;
    background-color: v.$naranja;
    margin-left: 25rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-content: center;
    border-radius: 0.5rem;

    &:hover {
        box-shadow: 0 0 10px rgba(235, 94, 40, 0.8), 
                    0 0 20px rgba(235, 94, 40, 0.6), 
                    0 0 30px rgba(235, 94, 40, 0.4);
        transition: 0.3s;
    }

    p {
        font-family: v.$fuentePrinciapl;
        font-size: 5rem;
        font-weight: 100;
        color: v.$negro;
        padding: 2rem;
        text-align: center;

        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
}

@media (min-width: 390px) and (max-width: 768px) {
    css
   .scrollable-element::-webkit-scrollbar {
       display: block;
   }

    .contenidoContenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        overflow: auto;
    }

    .contenidoTexto {
        margin-top: -25rem;

        p {
            font-size: 6rem;
            text-align: center;
            margin: 0 auto;
        }
    }

    .separadorVertical {
        display: none;
    }

    .contenidoCuadros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        overflow: auto;
        padding-top: 6rem;
        padding-bottom: 2rem; /* Añadido padding-bottom para espacio adicional */

        .cuadro {
            width: 90%;
            height: 7rem;
            margin: 0 auto;
            margin-bottom: 3rem;

            p {
                font-size: 4rem;
            }
        }
    }
}

css
   .scrollable-element::-webkit-scrollbar {
       display: block;
   }
